html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.imagem-msn {
  width: 100%;
  height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0 0 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00aced;
}

main {
  flex: 1;
  display: flex;
  padding: 20px;
  gap: 20px;
  overflow-y: auto; 
  align-items: flex-start;
}

article {
  flex: 3;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data {
  color: #888;
  font-size: 0.9em;
}

aside {
  flex: 2;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: #333;
}

aside a:hover {
  text-decoration: underline;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  article {
    margin-bottom: 20px;
  }
}
